$sm: 392px; 
$s: 428px; 
$xl: 1440px; 

@mixin sm {
  @media screen and (max-width: ($sm)) {
    @content;
  }
}

@mixin s {
  @media screen and (max-width: ($s)) {
    @content;
  }
}


@mixin xl {
  @media screen and (max-width: ($xl)) {
    @content;
  }
}
