// COLOR
$black: #2F2F2F;
$brown: #D6814F;
$green: #74A170;
$grey: rgba(47, 47, 47, 0.35);
$white: #FFF9E3;
$total_white: #fff;
$total_black:#000;
$red: #ED4F4F;

// FONT SIZE
$fontSmall: 20px;
$fontMedium: 28px;
$fontLarge: 54px;

//FONT WEIGHT
$fontNormal: 500;
$fontBold: 700;
