// COLOR
$black: #2F2F2F;
$brown: #A86039;
$green: #74A170;
$grey: #707070;
$white: #FFF9E3;
$total_white: #fff;
$total_black:#000;
$red: #ED4F4F;

// FONT SIZE
$font10: 10px;
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font28: 28px;
$font32: 32px;
$font42: 42px;
$font54: 54px;

$fontSmall: 20px;
$fontMedium: 28px;
$fontLarge: 54px;

//FONT WEIGHT
$fontSuperLight: 350;
$fontLight: 350;
$fontNormal: 500;
$fontBold: 700;
$fontSuperBold: 840;