@import "../../styles/variable.scss";
@import "../../styles/service.scss";
@import "../../styles/responsive.scss";

.block__select {
    position: relative;

    &-label {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: $black;
        @include textSize($font18, $fontBold, 22px);

        @include s {
            @include textSize($font14, $fontBold, 22px);
        }
    }

    &-arrow {
        width: 20px;
        height: 20px;
        margin: 0 4px;

        @include s {
            width: 16px;
            height: 16px;
        }
    }

    &-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 24px 20px 24px 14px;
        background-color: $total_white;
        border: 1px solid $black;
        list-style: none;

        @include s {
            gap: 10px;
            padding: 16px 10px 18px 6px;
        }
    }

    &-item {
        padding: 5px 10px;
        @include textSize($font14, $fontLight, 130%);
    }

    &-item:hover {
        background-color: $white;
        cursor: pointer;
    }

}