@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";

.card {
    width: 300px;
    margin-bottom: 50px;

    @include sm {
      width: 166px;
      margin-bottom: 18px;
    }

    &__title {
      text-align: center;
      font-size: 24px;
      font-weight: $fontNormal;
      line-height: 130%;
      text-transform: uppercase;

      @include sm {
        font-size: 14px;
        font-weight: 350;
        line-height: 130%;
      }
    }

    &__price {
      text-align: center;
      font-size: $fontSmall;
      font-weight: $fontNormal;
      line-height: 130%;

      @include sm {
        font-size: 14px;
        font-weight: 350;
        line-height: 130%;
      }

      .price-span {
        color: $grey;
        text-decoration: line-through;
      }
    }

    &__image {
      width: 100%;
    }
  }