@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";
@import "../../styles/service.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 50px;

  @include s {
    width: 166px;
    margin-bottom: 18px;
  }

  @include sm {
    width: 166px;
    margin-bottom: 18px;
  }

  &__title {
    text-align: center;
    @include textSize($font24, $fontNormal);
    text-transform: uppercase;
    margin-bottom: 12px;

    @include s {
      font-size: 14px;
      font-weight: 350;
      line-height: 130%;
    }

    @include sm {
      font-size: 14px;
      font-weight: 350;
      line-height: 130%;
    }
  }

  &__price {
    text-align: center;
    @include textSize($font20, $fontNormal);

    @include s {
      @include textSize($font14, $fontSuperLight);
    }

    @include sm {
      @include textSize($font14, $fontSuperLight);
    }

    .price-span {
      color: $grey;
      text-decoration: line-through;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 18px;
  }
}
