@import "../../styles//variable.scss";
@import "../../styles/responsive.scss";
@import "../../styles/service.scss";

.header {
  @include s {
    border-bottom: 1px solid $total_black;
  }

  @include sm {
    border-bottom: 1px solid $total_black;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 36px 80px;

    @include s {
      padding: 0;
    }

    @include sm {
      padding: 0;
    }
  }

  @include s {
    padding: 20px 24px;
    @include shadowAdaptivePage;
  }

  @include sm {
    padding: 20px 24px;
    @include shadowAdaptivePage;
  }

  .menu {
    @include s {
      display: none;
    }

    @include sm {
      display: none;
    }
  }

  .menu__adaptive {
    width: 24px;
    height: 24px;
    display: none;

    @include s {
      display: block;
    }

    @include sm {
      display: block;
    }
  }
}
