@import "../../styles/variable.scss";
@import "../../styles/service.scss";
@import "../../styles/responsive.scss";

.login {
  &__page {
    @include shadowPage;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    gap: 160px;
    padding: 88px 180px 342px 180px;
    margin: 0 auto;
    color: $black;

    @include s {
      flex-direction: column;
      gap: 48px;
      padding: 32px 20px 48px;
    }

    @include sm {
      flex-direction: column;
      gap: 48px;
      padding: 32px 20px 48px;
    }

    .main__signin {
      width: 100%;

      .signin__title {
        @include textSize($font20, $fontSuperBold, 24px);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 48px;

        @include s {
          @include textSize($font18, $fontSuperBold, 22px);
          margin-bottom: 38px;
        }

        @include sm {
          @include textSize($font18, $fontSuperBold, 22px);
          margin-bottom: 38px;
        }
      }

      .alert {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 48px;

        &-icon {
          width: 30px;
          height: 30px;
        }

        &-text {
          @include textSize($font24, $fontNormal);
          color: $red;
        }
      }

      .form__signin {
        display: flex;
        flex-direction: column;
        gap: 34px;

        @include s {
          gap: 28px;
        }

        @include sm {
          gap: 28px;
        }

        &-btn {
          @include lightLink;
          font-family: "KyivTypeTitling-VarGX";
          width: 162px;
          border: none;
          margin: 12px auto 0 auto;
        }

        &-link {
          @include transparentLink;
          width: 256px;
          border: none;
          margin-left: 120px;
          color: $grey;

          @include s {
            margin-left: 64px;
          }

          @include sm {
            margin-left: 46px;
          }
        }
      }
    }

    .main__signup {
      width: 100%;

      .signup__title {
        @include textSize($font20, $fontSuperBold, 24px);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 52px;

        @include s {
          @include textSize($font18, $fontSuperBold, 22px);
          margin-bottom: 48px;
        }

        @include sm {
          @include textSize($font18, $fontSuperBold, 22px);
          margin-bottom: 48px;
        }
      }

      .signup__link {
        @include transparentLink;
        padding: 10px 120px;

        @include s {
          padding: 10px 82px;
        }

        @include sm {
          padding: 10px 64px;
        }
      }

      .signup__info {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 76px 34px;

        @include s {
          padding: 34px 40px;
          gap: 36px;
        }

        @include sm {
          padding: 34px 20px;
          gap: 36px;
        }

        &-block {
          display: flex;
          align-items: center;
          gap: 22px;

          .block-text {
            @include s {
              @include textSize($font14, $fontSuperLight);
            }

            @include sm {
              @include textSize($font14, $fontSuperLight);
            }
          }
        }
      }

      .signup__text {
        @include textSize($font14, $fontSuperLight);
        text-align: center;
        margin-bottom: 22px;
      }

      .long {
        padding: 10px 120px;
        margin-left: 56px;

        @include s {
          padding: 10px 128px;
          margin: 0;
        }

        @include sm {
          padding: 10px 110px;
          margin: 0;
        }
      }
    }
  }
}
