@import "../../styles/variable.scss";
@import "../../styles/service.scss";

.sale {
  &__page {
    @include shadowPage;
  }

  &__main {
    padding: 38px 80px 80px;
    color: $black;

    .main__title {
      @include textSize($font42, $fontSuperBold, 50px);
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 58px;
    }

    .main__cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, auto);
    }

    .main__btn {
      margin-left: 520px;
      @include transparentLink;

      // @include sm {
      //   margin-left: 100px;
      //   font-size: 12px;
      //   font-weight: 500;
      //   line-height: 130%;
      // }
    }
  }
}
