@import "../../styles/variable.scss";
@import "../../styles/service.scss";

.itemPage {
  &__page {
    @include shadowPage;
  }

  &__main {
    padding: 0 80px 78px 80px;

    .chooseItem {
      margin: 15px 0 80px;
      display: flex;
      gap: 28px;

      &__image {
        width: 626px;
        height: 662px;
      }

      .image-gallery-slide-wrapper,
      .image-gallery-thumbnail {
        border: 1px solid $grey;
        z-index: 1;
      }

      .image-gallery-thumbnails-container {
        text-align: left;
        display: flex;
        gap: 30px;
        cursor: auto;
      }

      .image-gallery-thumbnail {
        width: 134px;
        height: 134px;

        &:hover {
          cursor: pointer;
        }
      }

      .image-gallery-thumbnail-image {
        width: 134px;
        height: 134px;
      }

      .image-gallery-svg {
        width: 24px;
        height: 24px;
      }

      .image-gallery-right-nav {
        padding: 30px 12px 30px 20px;
      }

      .image-gallery-left-nav {
        padding: 30px 20px 30px 12px;
      }

      .image-gallery-icon {
        border: 1px solid $grey;
      }

      &__content {
        margin-top: 120px;
      }

      &__description {
        margin-bottom: 74px;

        .chooseItem__title {
          @include textSize($font32, $fontSuperBold, 38px);
          text-transform: uppercase;
        }

        .chooseItem__code {
          @include textSize($font14, $fontSuperLight, 130%);
          color: $grey;
          margin-bottom: 8px;
        }

        .chooseItem__price {
          @include textSize($font24, $fontNormal, 130%);
          margin-bottom: 24px;

          &-sale {
            color: $grey;
            text-decoration: line-through;
          }
        }

        .chooseItem__btn {
          @include lightLink;
          font-family: "KyivTypeTitling-VarGX";
          border: none;
        }
      }

      .divider {
        border: 1px solid $total_black;
        min-width: 626px;
        margin: 18px 0;
      }

      &__info {
        &-btn {
          @include textSize($font20, $fontSuperBold, 24px);
          text-transform: uppercase;
          width: 626px;
          border: none;
          background-color: transparent;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &:hover {
            cursor: pointer;
          }
        }

        &-arrow {
          width: 24px;
          height: 24px;
        }

        &-details {
          padding: 24px 40px;
          width: 466px;

          .details__title {
            @include textSize($font18, $fontBold, 22px);
            margin-bottom: 12px;
          }

          .details-composition {
            display: flex;
          }

          .detail-list {
            list-style: none;
            margin-left: 50px;

            &-item {
              margin-bottom: 12px;
            }
          }

          .detail-text {
            @include textSize($font14, $fontSuperLight, 130%);
            margin-bottom: 12px;

            .details-text-span {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .moreItem {
      &__title {
        @include textSize($font42, $fontSuperBold, 50px);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 74px;
      }
    }
  }
}
