@import "../../styles/variable.scss";
@import "../../styles/service.scss";

.block__checkbox {
  display: flex;

  &-label {
    margin-left: 8px;
    @include textSize($font14, $fontSuperLight);
    color: $grey;
  }
}
