@import "../../styles/variable.scss";
@import "../../styles/service.scss";

.error {
  @include shadowPage;

  &__main {
    background-image: url("../../source/img/error/error.png");
    mask-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    width: 1014px;
    height: 456px;
    margin: 0 auto;
  }

  &__title {
    @include textSize(222px, $fontSuperBold, 266px);
    color: $brown;
    text-align: center;
  }

  &__text {
    @include textSize($font42, $fontSuperBold, 50px);
    text-align: center;
    margin-bottom: 42px;
  }

  &__btn {
    margin-left: 330px;
    @include lightLink;
  }
}
