@import "../../styles/variable.scss";
@import "../../styles/service.scss";

.contact {
  @include shadowPage;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black;
    padding: 28px 80px 300px 80px;

    .main__title {
      @include textSize($font32, $fontSuperBold, 38px);
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    .main__content {
      display: flex;
      flex-direction: column;
      max-width: 374px;

      .divider {
        width: 434px;
        border: 1px solid $grey;
      }

      .content {
        margin-top: 24px;

        &__title {
          @include textSize($font20, $fontSuperBold, 24px);
          text-transform: uppercase;
          margin-bottom: 12px;
        }

        &__block {
          display: flex;
          align-items: center;
          gap: 12px;

          &-info {
            display: flex;
            flex-direction: column;
            gap: 4px;
          }

          .block-link,
          .block-text {
            @include textSize($font24, $fontNormal, 130%);
          }

          .block-text-attention {
            @include textSize($font14, $fontSuperLight);
            margin-top: 12px;

            .block-attention-span {
              @include textSize($font18, $fontBold, 24px);
            }
          }
        }
      }
    }
  }
}
